name: CI

on:
  pull_request:
    branches:
      - "main"
      - "vertexai"
      - "feat/openai"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Dummy success step
        run: echo "CI check passed"
